@charset "utf-8";

/*
******************************************************************
* MJP common.css
******************************************************************
*/
html.Has-modal {
	overflow: hidden !important;
	width: auto;
}
html {
	background: none;
}
body {
	overflow: hidden;
	color: #4b4b4b;
	line-height: 1.6;
	word-wrap: break-word;
}


/*** loading ***/
#loading {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    background: #000;
}
.loading-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 282px;
    width: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
/**loading main start**/
.loading-main {
	width: 500px;
	margin: 0 auto;
	margin-bottom: 20px;
}

.loading-txt-img-box {
	position: absolute;
	bottom: 30%;
	left: 50%;
	width: 100%;
	transform: translateX(-50%);
	text-align: center;
}
.loading-img,
.loading-txt {
	display: block;
	max-width: 100%;
	width: auto;
	margin: 0 auto;
	margin-bottom: 10px;
}
.loading-txt {
	margin-bottom: 0;
}
@media screen and (max-width: 767px) {
	.loading-img {
		max-width: 51px;
	}
	.loading-txt {
		max-width: 44px;
		margin-bottom: 0;
	}
}

/**loading img txt brink**/

.loading-brink {
	opacity: .1;
	animation: loading-brink 2s linear infinite;
}

@keyframes loading-brink {
  0% {
    opacity: .1;
  }
  50% {
  	opacity: 1;
  }
  100% {
    opacity: .1;
  }
}

.spinner {
  position: relative;
  margin: auto;
  box-sizing: border-box;
  background-clip: padding-box;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  border: 8px solid rgba(255, 255, 255, 0.1);
  -webkit-mask: linear-gradient(rgba(0, 0, 0, 0.1), #000000 90%);
  transform-origin: 50% 60%;
  transform: perspective(280px) rotateX(66deg);
  /*animation: spinner-wiggle 1.2s infinite;*/
}
.spinner:before,
.spinner:after {
  content: "";
  position: absolute;
  margin: -8px;
  box-sizing: inherit;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  opacity: .05;
  border: inherit;
  border-color: transparent;
  animation: spinner-spin 1.2s cubic-bezier(0.6, 0.2, 0, 0.8) infinite, spinner-fade 1.2s linear infinite;
}
@media screen and (max-width: 767px) {
	.spinner {
		width: 140px;
  	height: 140px;
  	border: 4px solid rgba(255, 255, 255, 0.1);
  	transform: perspective(140px) rotateX(66deg);
	}
	.spinner:before,
	.spinner:after {
		margin: -4px;
	}
}
.spinner:before,
.spinner:after {
  border-top-color: #821a1e;
}

.spinner:after {
  animation-delay: 0.3s;
}

@keyframes spinner-spin {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinner-fade {
  20% {
    opacity: .1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: .1;
  }
}

/*** loading end ***/

/*
******************************************************************
* #modal video
******************************************************************/
#mdl-box {
	position: fixed;
	z-index: 1100;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#mdl-box .mdl-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}

#mdl-box #mdl-plr {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -270px;
	margin-left: -480px;
}
#mdl-box .btn {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -326px;
	margin-left: 303px;
}
#mdl-box .btn a {
	display: block;
	width: 179px;
	height: 50px;
	text-indent: -9999px;
	background-image: url(../img/v_close.png);
	background-position: 0 top;
}
#mdl-box .btn a:hover {
	background-position: 0 bottom;
}
@media screen and (max-width: 959px) {
	#mdl-box {
		background: #000;
	}
	#mdl-box .mdl-sp-outer {
		/*position: absolute;
		margin-top: 0;
		margin-left: 0;
    width: 100% !important;
    height: 50% !important;
    transform: translate(-50%,-50%);*/
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 0;
    margin-left: 0;
    max-width: 590px;
    /*width: 100% !important;
    height: 50% !important;*/
    width: 100vw !important;
    max-height: 335px;
    height: 57vw !important;
    transform: translate(-50%,-50%);
	}
	#mdl-box #mdl-plr {
		position: relative !important;
		top: 50% !important;
		left: 50% !important;
		margin-top: 0;
		margin-left: 0;
    width: 100% !important;
    /*height: 40% !important;*/
    height: 100% !important;
    transform: translate(-50%,-50%);
    /*transform: translate(0,0);*/
	}
	#mdl-box #mdl-plr:before {
		position: absolute;
		top: -10px;
		left: ;
	}
	.video-js .vjs-tech {
		top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	}
	.vjs-default-skin .vjs-control-bar {
		width: 100%;
	}
	#mdl-box .btn {
		top: -30px;
    left: auto;
    right: 10px;
    margin: 0;
	}
	#mdl-box .btn a {
		width: 90px;
    height: 26px;
    background-image: url(../img/v_close-sp.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
	}
	/*.device-iPad #mdl-box .btn a,
	.device-iPhone #mdl-box .btn a {
		width: 90px;
    height: 25px;
    background-size: 100% auto;
	}*/
}
@media screen and (max-height: 500px) {
    #mdl-box .mdl-sp-outer {
    	max-width: 440px;
			max-height: 245px;
    }
}

/*
******************************************************************
* video.js
******************************************************************/
#mdl-box .vjs-default-skin .vjs-slider-handle {
	background: #00f1ff;
}
#mdl-box .vjs-default-skin .vjs-play-progress {
	background: #017279;
}
#mdl-box .vjs-default-skin .vjs-volume-level {
	background: #017279;
}


/*
******************************************************************
* .modal-video
******************************************************************/
.modal-video {
    background-color: rgba(0,0,0,0.8);
}
.modal-video-movie-wrap {
    margin-top: 56px;
}
.modal-video-close-btn {
	display: block;
	position: absolute;
	top: -56px;
	right: 0;
	z-index: 2;
	width: 179px;
	height: 50px;
	text-indent: -9999px;
	background: url(../img/v_close.png) no-repeat top 0 left 0;
	background-size: 100%;
	cursor: pointer;
}
.modal-video-close-btn:hover {
	background-position: top -50px left 0;
}

.modal-video-close-btn:hover:not(:target) {
	background-position: top -51px left 0\9;/*IE9用*/
}

.modal-video-close-btn:before,
.modal-video-close-btn:after {
	content: none;
}


/*
******************************************************************
* utility
******************************************************************/
/* 要素アクション */
*[data-sf] {
	opacity: 0;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

*[data-sf="slide-top"] {
	-webkit-transform: translate(0, 100px);
	transform: translate(0, 100px);
}
*[data-sf="slide-left"] {
	-webkit-transform: translate(-300px, 0);
	transform: translate(-300px, 0);
}
*[data-sf="slide-right"] {
	-webkit-transform: translate(300px, 0);
	transform: translate(300px, 0);
}

*.animated[data-sf="fade-in"] {
	opacity: 1;
}
*.animated[data-sf="slide-top"],
*.animated[data-sf="slide-left"],
*.animated[data-sf="slide-right"] {
	opacity: 1;
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}